nav.main-navigation {
  background-color: white;
  border-left: 2px solid whitesmoke;
  position: absolute;
  z-index: 1;
  top: 0;
  right: -20vw;
  height: 200vh;
  width: 20vw;
  overflow: hidden;
  transition: 0.4s;
}

.main-navigation h2 {
  margin-top: 8vh;
  font-size: 1rem;
  font-weight: 700;
}

.main-navigation h2 svg {
  margin-right: 0.25rem;
}

.main-navigation ul {
  margin: 2vh 0;
}

.main-navigation li {
  margin: 3px 0;
  padding: 0.75rem 0.5rem;
}

.main-navigation li a {
  margin: 0.15rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.main-navigation li a svg {
  margin-right: 0.25rem;
}

#toggleDrawer:checked + nav.main-navigation {
  transform: translateX(-20vw);
  box-shadow: 0 0 10rem black;
  display: unset;
}

@media only screen and (max-width: 768px) {
  nav.main-navigation {
    right: -45vw;
    width: 45vw;
  }

  #toggleDrawer:checked + nav.main-navigation {
    transform: translateX(-45vw);
  }
}

@media only screen and (max-width: 480px) {
  nav.main-navigation {
    right: -80vw;
    width: 80vw;
  }

  nav.main-navigation h2 {
    margin-top: 11.5vh;
  }

  #toggleDrawer:checked + nav.main-navigation {
    transform: translateX(-80vw);
  }
}
