.modal-container {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  animation: gradual-load 0.5s;
}

.modal-container p {
  font-weight: 400;
}

.modal-sm {
  align-self: center;
  margin: 2rem;
  padding: 2.5rem 3rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  animation: gradual-load 0.5s;
}

.modal-sm * {
  margin: 0.75rem 0;
}

.modal-sm button {
  margin: 0.75rem;
}

.modal-xs {
  align-self: center;
  margin: 0.5rem;
  padding: 1.25rem 1.75rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  animation: gradual-load 0.5s;
}

.modal-xs * {
  margin: 0.25rem 0;
}

.modal-xs button {
  margin: 0.5rem 0.35rem 0.35rem;
}

.log-out-contact {
  color: #bd1732;
}

.log-out-contact:hover {
  text-decoration: underline;
}

@keyframes gradual-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 480px) {
  .modal-vw {
    width: 50vw;
  }
}

@media only screen and (min-width: 768px) {
  .modal-vw {
    width: 40vw;
  }
}

@media only screen and (min-width: 1024px) {
  .modal-vw {
    width: 30vw;
  }
}

@media only screen and (min-width: 1600px) {
  .modal-vw {
    width: 20vw;
  }
}
