.notification-bar-top {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 48px;
  left: 0;
  padding: 0.75rem 1rem;
  color: white;
  opacity: 0.95;
  animation: gradual-fade-in 0.5s;
}

.notification-bar-top * {
  overflow-wrap: break-word;
  width: calc(100% - 2rem);
}

.notification-bar-top svg {
  margin: 0 0.5rem;
}

.success {
  background-color: #46d160;
}

.fade-out {
  animation: gradual-fade-out 0.5s;
}

.remove {
  display: none;
}

@keyframes gradual-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

@keyframes gradual-fade-out {
  from {
    opacity: 0.95;
  }
  to {
    opacity: 0;
  }
}
