.main-header-controls {
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label.toggle-switch:before {
  content: 'DARK MODE:';
  display: inline-block;
  position: relative;
  top: 0.1rem;
  left: -6.25rem;
  width: 6.25rem;
}

.toggle-switch input,
.hambuger-menu input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.toggle-switch {
  position: relative;
  /* z-index: 3; */
  display: inline-block;
  width: 40px;
  height: 17px;
  margin-left: 6.25rem;
}

.hambuger-menu {
  margin-left: 1rem;
  padding: 0.25rem;
  width: 13.2px;
}

.hambuger-icon {
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f7f8;
  border: 1px solid #edeff1;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: #878a8c;
  transition: 0.4s;
  border-radius: 50%;
}

#toggleDark:checked + .slider {
  background-color: #bd1732;
  border: 1px solid #bd1732;
}

#toggleDark:checked + .slider:before {
  background-color: #ffffff;
}

#toggleDark:checked + .slider:before {
  transform: translateX(22px);
}

@media only screen and (max-width: 480px) {
  label.toggle-switch:before {
    content: '☀️/☾';
    display: inline-block;
    position: relative;
    top: 1px;
    left: -37px;
    width: 37px;
  }

  .toggle-switch {
    margin-left: 37px;
  }
}
