.trending-topics {
  background-color: mediumpurple;
  grid-area: main-section-header;
  padding: 1em;
}

.topic-list {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.topic-list::-webkit-scrollbar {
  display: none;
  width: 0;
}

.topic-list li {
  display: inline-block;
  margin-right: 1rem;
}

ul.topic-list li:last-child div.topic-card {
  background-color: palegreen;
  margin-right: 0;
}
