.trending-topics {
  grid-area: main-section-header;
  margin-top: 1.5em;
  position: relative;
}

.topic-list {
  max-width: 1024px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  display: flex;
}

.topic-list::-webkit-scrollbar {
  display: none;
  width: 0;
}

.topic-list li {
  display: inline-block;
  margin-right: 1rem;
}

ul.topic-list li.topic-item:last-child {
  background-color: #dae0e6;
  margin-right: 0;
}

.view-more-right {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: calc(50% - 20px);
  right: 0.5em;
  z-index: 0;
}

.view-more-right:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 1024px) {
  .trending-topics {
    padding: 0 1em;
  }

  .view-more-right {
    right: 1.5em;
  }
}

@media only screen and (max-width: 480px) {
  .trending-topics {
    margin-top: 1em;
  }
}
