.sidebar {
  grid-area: main-section-aside;
}

.sidebar-content {
  width: 312px;
}

.sidebar-content-stuck {
  position: fixed;
  top: calc(1rem + 48px);
}

.sidebar-content-sticky {
  position: fixed;
  animation: stick 0.75s forwards;
}

@keyframes stick {
  0% {
    top: 0;
  }
  100% {
    top: calc(1rem + 48px);
  }
}

.sidebar-content-sticky-a-pg {
  position: fixed;
  animation: stick-a-pg 0.75s forwards;
}

@keyframes stick-a-pg {
  0% {
    top: 0;
  }
  100% {
    top: calc(1rem + 96px);
  }
}

.sidebar-content li {
  background-color: white;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

ul.sidebar-content li:last-child {
  margin-bottom: 5em;
}

@media only screen and (max-height: 840px) {
  .sidebar-content .top-users-card-li {
    display: none;
  }
}
