.sidebar {
  grid-area: main-section-aside;
}

.sidebar-content {
  width: 312px;
}

.sidebar-content-stuck {
  position: fixed;
  top: calc(1rem + 48px);
}

.sidebar-content-sticky {
  position: fixed;
  animation: stick 0.75s forwards;
}

@keyframes stick {
  0% {
    top: 0;
  }
  100% {
    top: calc(1rem + 48px);
  }
}

.sidebar-content li {
  background-color: white;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

ul.sidebar-content li:last-child {
  margin-bottom: 5em;
}
