.sidebar {
  background-color: seagreen;
  grid-area: main-section-aside;
}

.sidebar-content {
  padding: 1em;
  background-color: yellowgreen;
}

.sidebar-content li {
  background-color: thistle;
  height: 250px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.sidebar-content li:last-child {
  background-color: tomato !important;
  margin-bottom: 0;
}
