.topic-card {
  width: 244px;
  height: 175px;
  background-color: #dae0e6;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.topic-card-overlay {
  position: relative;
  display: block;
  width: 244px;
  height: 175px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  cursor: pointer;
  border-radius: 10px;
}

.topic-card-overlay:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.topic-card-content {
  color: white;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4), 0 0 2rem rgba(0, 0, 0, 0.4);
  height: 100%;
  white-space: normal;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.topic-card p {
  letter-spacing: 0.03125rem;
}

.featured-topic-title {
  color: white;
}

.featured-topic-desc {
  margin-top: 0.15rem;
}
