.App {
  position: relative;
  z-index: 0;
  text-align: center;
  background-color: crimson;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.15rem;
  font-weight: 700;
}
