/* .main {
  min-height: 100vh;
  position: relative;
  top: 48px;
}

.route-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 768px) {
  .route-container {
    display: block;
  }
} */

.main {
  min-height: 100vh;
  position: relative;
  z-index: -1;
  top: 48px;
}
