.article-card {
  display: flex;
}

.article-left-column {
  padding: 1rem 0.7rem;
}

.article-card-left-column {
  padding: 1rem 0.7rem;
  background-color: #f8f9fa;
  border-radius: 4px 0 0 4px;
}

.article-right-column {
  padding: 1rem 0.7rem;
  text-align: left;
  width: 100%;
}

.article-subhead-topic {
  font-weight: 700;
}

.article-subhead-topic:hover {
  text-decoration: underline;
}

.article-card-title {
  padding: 0.7rem 0;
}

.article-body {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.7rem 1rem 0.7rem 0;
}

.article-subfoot * {
  color: #878a8c;
  font-weight: 700;
}

.article-subfoot-comcount:hover,
.article-subfoot-comcount:hover * {
  color: #bd1732;
}

.article-subfoot svg {
  margin-right: 0.25rem;
}

@media only screen and (max-width: 480px) {
  .article-body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.7rem 1rem 0.7rem 0;
  }
}
