.feed {
  grid-area: main-section-content;
  padding-bottom: 1em;
}

ul.feed-list li.list-subhead {
  padding: 1em;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  background-color: #f6f7f8;
}

ul.feed-list .article-list-item.sort-by-notification {
  padding: 0.5rem;
  background-color: #46d160;
  color: white;
}

ul.feed-list .article-list-item.sort-by-notification:hover {
  border: 1px solid #ccc;
}

ul.feed-list .article-list-item.sort-by-notification * {
  margin: 0 0.25rem;
}

ul.feed-list li.list-item {
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
}

ul.feed-list li.list-item:last-child {
  border-radius: 0 0 4px 4px;
}

ul.feed-list li.article-list-item {
  margin-bottom: 1em;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc;
}

ul.feed-list li.article-list-item:hover {
  border: 1px solid #878a8c;
}

ul.feed-list li.article-list-item:last-child {
  margin-bottom: 0;
}

.end-infinite-feed {
  padding: 2rem 0 1rem;
  color: #878a8c;
}

.end-infinite-feed svg {
  padding: 1rem;
}

.end-infinite-feed h3 {
  margin: 0.5rem 0;
  font-weight: 700;
}

.end-feed-submit {
  color: #ef657b;
}

@media only screen and (max-width: 1024px) {
  .feed {
    padding: 1.5rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .feed {
    padding: 1rem;
  }
}
