.vote-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 1px;
}

.vote-control svg {
  color: #878a8c;
}

.vote-control.inc-votes .vote-control-button {
  margin: 4px 0;
}

.vote-control-button {
  background-color: transparent;
  margin: 0;
}

.vote-control-button:hover {
  background-color: #e8e8e8;
}

.upvote-icon:hover svg {
  color: seagreen;
}

.downvote-icon:hover svg {
  color: crimson;
}

@media only screen and (max-width: 1024px) {
  .vote-control button.upvote-icon {
    margin-bottom: 0.2rem;
  }
  .vote-control button.downvote-icon {
    margin-top: 0.2rem;
  }
}
