.vote-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 1px;
}

.vote-control svg {
  color: #878a8c;
  padding: 2px;
}

.vote-control.inc-votes svg {
  padding: 4px;
}

.upvote-control:hover {
  color: seagreen;
}

.downvote-control:hover {
  color: crimson;
}

@media only screen and (max-width: 1024px) {
  .vote-control svg {
    padding: 7px;
  }

  .vote-control.inc-votes svg {
    padding: 8px;
  }
}
