.comment {
  display: flex;
  padding: 1rem 1.5rem 1rem 0;
}

.comment-left-column {
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

.comment-line-vertical {
  align-self: center;
  margin: 0.25rem 0;
  height: 100%;
  border: none;
  border-right: 1px dotted #878a8c;
}

.comment-right-column {
  text-align: left;
}

.comment-subhead-author {
  cursor: pointer;
  color: #bd1732;
}

.comment-subhead-author:hover {
  text-decoration: underline;
}

.comment-body {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.comment-subfoot {
  color: #878a8c;
  font-weight: 700;
}

.comment-subfoot span {
  cursor: pointer;
}

.comment-subfoot span:hover {
  color: #bd1732;
}

.comment-subfoot svg {
  margin-right: 0.25rem;
}

.comment-subfoot-delcom {
  margin-left: 0.6rem;
}
