div.article-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  max-width: 80vw;
  width: 100%;
  height: 48px;
  padding: 0 2vw;
  margin: 0 7vw;
}

div.article-container {
  position: relative;
  z-index: -1;
  top: 48px;
  max-width: 76vw;
  width: 100%;
  padding: 2.5rem 4vw;
  margin: 0 7vw 10rem;
  background-color: #f5f9fd;
}

.article-sub-container {
  display: grid;
  grid-template-areas: 'main-section-content main-section-content main-section-aside';
  grid-template-columns: 1fr 1fr 312px;
  /* grid-gap included to support older browsers */
  grid-gap: 1em;
  gap: 1em;
}

button.article-close {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #818384;
  padding: 3px;
}

button.article-close:hover {
  background-color: #343536;
}

button.article-close * {
  vertical-align: middle;
  padding: 0.2rem;
}

button.article-close svg {
  margin-top: 1px;
}

@media only screen and (max-width: 768px) {
  div.article-container {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .article-sub-container {
    display: block;
  }

  .article-header {
    padding: 0.75rem 1rem;
  }
}
